Here is a sample line of code that can be executed in Python:

print("Hello, World!")
You can just as easily store a string as a variable and then print it to stdout:

my_string = "Hello, World!"
print(my_string)
The above code will print Hello, World! on your screen. Try it yourself in the editor below!

Input Format

You do not need to read any input in this challenge.

Output Format

Print Hello, World! to stdout.

Sample Output 0

Hello, World!

In [15]:
def Print():
  a="Hello,World"
  return a

In [17]:
Print()

'Hello,World'

Task
Given an integer, , perform the following conditional actions:

- If n is odd, print Weird
- If n is even and in the inclusive range of  to , print Not Weird
- If n is even and in the inclusive range of  to , print Weird
- If n is even and greater than , print Not Weird
- Input Format

A single line containing a positive integer n.
- Output Format

- Print Weird if the number is weird. Otherwise, print Not Weird.

- Sample Input 0

3
- Sample Output 0

Weird

In [19]:
def if_else(n):
  if n%2==0:
    if n>=2 and n<=5:
      return "Not Weird"
    elif n>=6 and n <=20:
      return "Weird"
    elif n>20:
      return "Not Weird"
  else:
    return "Weird"

In [20]:
if_else(3)

'Weird'

In [21]:
if_else(24)

'Not Weird'

Task
- The provided code stub reads two integers from STDIN,a  and b. Add code to print three lines where:
1. The first line contains the sum of the two numbers.
2. The second line contains the difference of the two numbers (first - second).
3. The third line contains the product of the two numbers.
- Example
a=3
b=5
- printthe following:
8,-2,15
- input format:
- The first line contains the first integer, a.
-The second line contains the second integer, b.
Output Format

Print the three lines as explained above.

- Sample Input 0

3,
2
- Sample Output 0

5,
1,
6

In [27]:
def Arithmetic(a,b):
  add=a+b
  sub=a-b
  mult=a*b
  return add,sub,mult

In [28]:
Arithmetic(3,2)

(5, 1, 6)

In [29]:
Arithmetic(3,5)

(8, -2, 15)

Task
The provided code stub reads two integers, a and b, from STDIN.

Add logic to print two lines. The first line should contain the result of integer division, a // b. The second line should contain the result of float division,  a/b .

No rounding or formatting is necessary.

Input Format

- The first line contains the first integer, a.
- The second line contains the second integer, b.

Output Format

Print the two lines as described above.

- Sample Input 0

4,
3
- Sample Output 0

1,
1.3333333333

In [30]:
def Division(a,b):
  True_Division=a/b
  Floor_Division=a//b
  return True_Division,Floor_Division

In [31]:
Division(4,3)

(1.3333333333333333, 1)

Task
The provided code stub reads an integer,n , from STDIN. For all non-negative integers i< n , print i.

Example

- The list of non-negative integers that are less than  is . Print the square of each number on a separate line.

0,
1,
4
- Input Format

- The first and only line contains the integer, n.

- Constraints
- Output Format
- Print n lines, one corresponding to each i.
- Sample Input 0,
5
- Sample Output 0,

0,
1,
4,
9,
16

In [34]:
def Loop(n):
  i=0
  while i<n:
    print (i*i)
    i+=1

In [35]:
Loop(5)

0
1
4
9
16

An extra day is added to the calendar almost every four years as February 29, and the day is called a leap day. It corrects the calendar for the fact that our planet takes approximately 365.25 days to orbit the sun. A leap year contains a leap day.

In the Gregorian calendar, three conditions are used to identify leap years:

The year can be evenly divided by 4, is a leap year, unless:
The year can be evenly divided by 100, it is NOT a leap year, unless:
The year is also evenly divisible by 400. Then it is a leap year.
This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years. Source

Task

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only necessary to complete the is_leap function.

The function must return a Boolean value (True/False). Output is handled by the provided code stub.

- Sample Input :

1990
- Sample Output:

False
- Explanation :

1990 is not a multiple of 4 hence it's not a leap year.

In [1]:
def leapyear(year):
  if year%400==0:
    return True
  elif year%100==0:
    return False
  elif year%4==0:
    return True
  else:
    return False

In [2]:
leapyear(1990)

False

In [3]:
leapyear(4)

True

In [4]:
leapyear(400)

True

In [5]:
leapyear(100)

False

The included code stub will read an integer,n, from STDIN.

Without using any string methods, try to print the following:123..n


Note that "...." represents the consecutive values in between.

Example
n=5

Print the string 12345.

Input Format

The first line contains an integer n.


Output Format

Print the list of integers from 1 through n  as a string, without spaces.

Sample Input :

3
Sample Output :

123

In [25]:
def Func_forlop(n):
  for i in range(1,n+1):
    print(i,end="")

In [26]:
Func_forlop(5)

12345